
//Portofolio section

mixin item (domain,pictureSmall, pictureLarge, alt)
  .mix__item(class=domain)
    .mix__hover
      a.mix__link(href=pictureLarge)
        span.icon-search
    img.lazyload.mix__img(data-src=pictureSmall, alt=alt)

mixin item-web (pictureSmall, pictureLarge, alt, href, title)
  .mix__item.web
    .mix__hover 
      a.mix__link(href=pictureLarge)
        span.icon-search
      a.mix__link.mix__link--web(href=href, title=title, target="_blank")
        span.icon-link
    img.lazyload.mix__img(data-src=pictureSmall, alt=alt)
#portofolio
  .row
    .left
      h2.huge Work 
  
    .right
      .right__icon.right__icon--portofolio.icon-picture
      .filter
        button.filter__item(data-filter='all') All
        button.filter__item(data-filter='.logo') Logo
        button.filter__item(data-filter='.card') Card
        button.filter__item(data-filter='.doc') Doc
        button.filter__item(data-filter='.marketing') Marketing
        button.filter__item(data-filter='.web') Web
      .mix
        +item('card','images/small/card-md.jpg','images/large/card-md.jpg','Mobila Domnel')  
        +item-web('images/small/web-hpi.jpg','images/large/web-hpi.jpg','Hydro Proiect Invest','http://www.hydroproiect.com','Hydro Proiect project link')  
        +item('logo','images/small/logo-hpi.jpg','images/large/logo-hpi.jpg','Hydro Proiect Invest')  
        +item('marketing','images/small/poster-tp.jpg','images/large/poster-tp.jpg','Tower Play Poster')  
        +item('marketing','images/small/invitation-card-tp.jpg','images/large/invitation-card-tp.jpg','Tower Play invitation')  
        +item('marketing','images/small/flyer-tp.jpg','images/large/flyer-tp.jpg','Tower Play flyer')  
        +item('doc','images/small/doc-tp.jpg','images/large/doc-tp.jpg','Tower Play Brochure')          
        +item-web('images/small/web-tp.jpg','images/large/web-tp.jpg','Tower Play website','http://www.towerplay.eu','Tower Play project link')  
        +item('marketing','images/small/flyer-ps.jpg','images/large/flyer-ps.jpg','Pro Swing flyer')  
        +item('marketing','images/small/rollup-ps.jpg','images/large/rollup-ps.jpg','Pro Swing rollup')  
        +item('marketing','images/small/poster1-tm.jpg','images/large/poster1-tm.jpg','Toastmasters Poster 1')  
        +item('marketing','images/small/poster2-tm.jpg','images/large/poster2-tm.jpg','Toastmasters Poster 2')  
        +item('logo','images/small/logo-fc.jpg','images/large/logo-fc.jpg','...by Felix Cailean logo')   
        +item-web('images/small/web-fc.jpg','images/large/web-fc.jpg','...by Felix Cailean website','http://felixcailean.ro','...by Felix Cailean project link')  
        +item('logo','images/small/logo-tos.jpg','images/large/logo-tos.jpg','Trades on site logo')   
        +item('card','images/small/card-tos.jpg','images/large/card-tos.jpg','Trades on site business card')  
        +item('marketing','images/small/flyer-ps.jpg','images/large/flyer-ps.jpg','Pro Swing flyer')  
        +item('doc','images/small/doc-tos2.jpg','images/large/doc-tos2.jpg','Trades on site documents')          
        +item-web('images/small/web-tos.jpg','images/large/web-tos.jpg','Trades on site website','http://www.tradesonsite.co.uk','Trades on site project link')  
        +item('logo','images/small/logo-das.jpg','images/large/logo-das.jpg','DAS International Logistics logo')   
        +item('card','images/small/card-das.jpg','images/large/card-das.jpg','DAS International Logistics business card')  
        +item('doc','images/small/doc-das.jpg','images/large/doc-das.jpg','DAS International Logistics documents')          
        +item-web('images/small/web-das.jpg','images/large/web-das.jpg','DAS International Logistics website','http://www.das-international.com','DAS International Logistics project link')  
        +item('card','images/small/card-hgc.jpg','images/large/card-hgc.jpg','HydroGeocart business card')  
        +item-web('images/small/web-hgc.jpg','images/large/web-hgc.jpg','HydroGeocart website','http://www.hydrogeocart.ro','HydroGeocart project link')  
        +item('logo','images/small/logo-spix.jpg','images/large/logo-spix.jpg','SPIX logo')   
        +item('doc','images/small/doc-spix.jpg','images/large/doc-spix.jpg','SPIX documents')          
        +item('marketing','images/small/banner-spix.jpg','images/large/banner-spix.jpg','SPIXEUROPA banner')  
        +item-web('images/small/web-spix.jpg','images/large/web-spix.jpg','SPIX website','http://www.spixeuropa.com','SPIX project link')  
        +item('marketing','images/small/rollup-isph.jpg','images/large/rollup-isph.jpg','rollup isph')  
        +item('card','images/small/card-isph.jpg','images/large/card-isph.jpg','isph business card')  
        +item('logo','images/small/logo-bmn.jpg','images/large/logo-bmn.jpg','BMN logo')   
        +item('card','images/small/card-bmn.jpg','images/large/card-bmn.jpg','BMN business card')    
        +item('doc','images/small/doc-bmn.jpg','images/large/doc-bmn.jpg','BMN Curiculum vitae')          
        +item('card','images/small/card-cds.jpg','images/large/card-cds.jpg','MediatorCDS business card')  
        +item-web('images/small/web-cds.jpg','images/large/web-cds.jpg','MediatorCDS website','http://www.mediatorcds.ro','MediatorCDS project link')  
        +item('card','images/small/card-mediez.jpg','images/large/card-mediez.jpg','Mediez business card')  
        +item('doc','images/small/doc-mediez.jpg','images/large/doc-mediez.jpg','Mediez documents')  
        +item-web('images/small/web-mediez.jpg','images/large/web-mediez.jpg','Mediez website','http://www.mediez.ro','Mediez project link')  
        +item('card','images/small/card-cpe.jpg','images/large/card-cpe.jpg','CPE business card')  
        +item('logo','images/small/logo-cpe.jpg','images/large/logo-cpe.jpg','CPE logo')  
        +item-web('images/small/web-cpe.jpg','images/large/web-cpe.jpg','Certificat Performanță Energetică website','http://www.certificatperformantaenergetica.ro','Certificat Performanță Energetică project link')  

          
          
          
          
          
             
